{% extends 'base.html' %}
<!-- Carregar os arquivos estáticos (STATIC)-->
{% load static %} 

{% block 'head' %}
<!--importar os arquivos do css pela tag link ***rel="stylesheet(tipo de arquivo html)*** 
e ***href*** onde esta o arquivo css acionando a pasta static/autenticacao/css-->
<link rel="stylesheet" href="{% static 'autenticacao/css/nutri.css' %}" />

{% endblock %} 

{% block 'titulo' %}Cadastre-se{% endblock %} 

{% block 'body' %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 sidebar">
        <div class="logo_sidebar">
          
          <h2 class="logo">
            <img class="img_logo_sidebar" src="/static/autenticacao/img/logo_nutri1.png"/>
          </h2>

        </div>
      </div>
      <div class="col-md-9">
        <div class="area_cadastrar">
          {% if messages %}
              <br>
              {% for message in messages %}
                  <div class="alert {{message.tags}}">
                      {{message}}
                  </div>
              {% endfor %} 
          {% endif %}
          <h2 class="titulo">Seja bem vindo</h2>
          <p class="sub-titulo">Crie sua conta</p>
          <hr />
          <!--Enviar os dados para o arquivo url cadastro da pasta autenticacao/url.py //
                      METHOD(Método) passar o tipo de requisição que é ***POST***// outras requisições (GET, PUT, DELETE, PATH)
                      CSRF_TOKEN proteção django contra falsificação de formulario-->
          
          <form action="{% url 'login' %}" method="POST">{% csrf_token %}
            <span class="bold">Nome de usuário</span>
            <input class="form-control input-form" name="usuario"type="text" placeholder="Digite seu nome..."/>
            <br>
            <span class="bold">Senha</span>
            <input class="form-control input-form" name="senha" type="password" placeholder="Digite sua senha...">
            <br>
            <button class="btn-first">Login</button>
            <br>
          </form>
          <h3 style="position: absolute; bottom: 65px; font-weight: bold">Não tem uma conta ?&nbsp <a href="{% url 'cadastro' %}" class="btn btn-outline-success btn-lg">Registre-se</a> </h3>
        </div>

      </div>

    </div>

  </div>

{% endblock %}

          